<!DOCTYPE html>
<html>

	<head>
		<link rel="stylesheet" href="mystyle.css">
		<title>Sign Up</title>
	</head>
	
	<body>
		
		<div class="header">
			<img class="SmallLogo" src="BandSnapLogo.png" alt="BandSnap Logo">
			<h2 class="SignUpHeading">Sign Up</h2>
		</div>

		<div class="row">
		
			<!-- Add Javascript onclick events to Band and Artist images -->
			<div class="UserChoice">
				<h2>What are you?</h2>
				
				<div class="Band">
					<h2>Band</h2>
					<img src="Band.png" alt="Band Image"> </src>
					
					<p class="SignupText">I want to find great talent with ease!</p>
					<p class="SignupText">Manage your artists!</p>
				</div>
				
				<div class="Artist">
					<h2>Artist</h2>
					<img src="Artist.png" alt="Artist Image"> </src>
					
					<p class="SignupText">I want to find a band I can shred with!</p>
					<p class="SignupText">Show off your skills to the world!</p>
				</div>
				
			</div>
			
			<div class="UserSignUp">
			
				<form class="SignUpForm">
					<label class="SignUpInput" for="Username">Username:</label>
					<input class="SignUpInput" type="text" id="Username" name="Username"><br>
					<label class="SignUpInput" for="Username">Password:</label>
					<input class="SignUpInput" type="text" id="Password" name="Password"><br>
					<label class="SignUpInput" for="Username">Confirm Password:</label>
					<input class="SignUpInput" type="text" id="ConfirmPassword" name="ConfirmPassword"><br>
					<label class="SignUpInput" for="AboutUser">About You (Optional):</label>
					<input class="SignUpInput" type="text" id="AboutUser" name="AboutUser" value="Tell the world about yourself (max 1000 characters)..."><br>
				
					<input class="SignUpButton" type="submit" value="Sign Up">
				</form>
			
			</div>
			
			
		</div>
		
	</body>

</html>