<!DOCTYPE html>
<html>

	<head>
		<link rel="stylesheet" href="mystyle.css">
		<title>User Profile</title>
	</head>
	
	<body>

		<div class="row">
		
			<div class="UsersProfile">
				<img class="SmallLogo" src="BandSnapLogo.png" alt="BandSnap Logo">
				<h2 style="float:left; margin-left:30px; margin-top:30px;">Your Profile</h2>
				
				
				
				
			</div>
			
			<div class="UsersRequests">
				<h2 style="float:left; margin-left:15px; margin-top:15px; padding-bottom:30px;">Your Requests</h2>
				
				<div class="DisplayRequests">
						<h2>Band Name</h2>
						<p>Request Date</p><br>
						<p>Status: </p>
				</div>
			
			</div>
			
			
		</div>
		
	</body>

</html>