<!DOCTYPE html>
<html>

	<head>
		<link rel="stylesheet" href="mystyle.css">
		<title>User Profile</title>
	</head>
	
	<body>

		<div class="row">
		
			<div class="UsersProfile">
				<img class="SmallLogo" src="BandSnapLogo.png" alt="BandSnap Logo">
				<h2 style="float:left; margin-left:30px; margin-top:30px;">Your Profile</h2>
				
				<div class="UserInfo">
					<div class="UserRow">
						<p class="UserText">Username</p>
						<p class="UserData">Alex Lee</p>
					</div>
					<div class="UserRow">
						<p class="UserText">Password</p>
						<a href="" class="UserData">Reset Password</a>
					</div>
					<div class="UserRow">
						<p class="UserText">Profile Photo</p>
						<img src="" alt="Profile Photo" class="UserData">
					</div>
					<div class="UserRow">
						<p class="UserText">Description</p>
						<textarea class="UserData" id="AboutUser" name="AboutUser" placeholder="User description here" style="height:200px"></textarea>
					</div>
					<div class="UserRow">
						<p class="UserText">Skills</p>
						<ul class="UserData">
							<li>Skill 1</li>
							<li>Skill 2</li>
							<li>Skill 3</li>
						</ul>
					</div>
				</div>

				
				
			</div>
			
			<div class="UsersRequests">
				<h2 style="float:left; margin-left:25px; margin-top:15px;">Your Requests</h2>
				
				<div class="DisplayRequests">
					<img class="BandLogo" src="BandSnapLogo.png" alt="BandLogo">
					<div class="BandInfo">
						<p class="BoldBandInfo">Band Name</p>
						<p>Request Date</p>
						<p>Status: </p>
					</div>
				</div>
			
			</div>
			
			
		</div>
		
	</body>

</html>