.navbar-nav .nav-link {
    font-size: 25px;
}

.right-nav .navbar-nav .nav-link.active {
    border-bottom: 2px solid #007bff;
}

nav a.navbar-brand #bandsnap-logo{
    width:200px;
    max-width: 150px;
}