{% extends 'bandsnap/base.html' %}
{% load static %}

{% block title_block %}
    Home
{% endblock %}

{% block body_block %}
    <div style="text-align: center;">
        <h1>bandsnap</h1>
        <img src="{% static 'images/logo.jpg' %}" alt="bandsnap logo" /><br><br>
        <form action="#" method="get">
            <input type="text" name="query" placeholder="Search...">
            <button type="submit">Search</button>
        </form>
        <br><br>
        <div>
            <a href="#">Artists</a> | <a href="#">Gigs</a> | <a href="#">Bands</a>
        </div>
    </div>
{% endblock %}