{% extends 'bandsnap/base.html' %}
{% load static %}

{% block title_block %}
    Home
{% endblock %}

{% block body_block %}
    <img class="LargeLogo" src = "{% static 'images/logo.jpg' %}" alt="bandsnap logo">

    <div class="SearchForPeople">

        <form id="search_form" method="post" action="{% url 'bandsnap:search' %}">

            {% csrf_token %}

            <button type="submit" name="submit">Search</button>

            {{ search.as_p }}


        </form>
    </div>
{% endblock %}