{% extends 'bandsnap/base.html' %}
{% load static %}

{% block title_block %}
    Home
{% endblock %}

{% block body_block %}
    <div class="SearchForPeople">

        <form id="user-form" method="post" action="">

            <input type="text" size="50" placeholder="Enter a query..." name="query" id="query" />
            <button type="submit" name="submit">Search</button>

            <div>
                <p>I'm looking for:</p>
            </div>

            <div>
                <!-- Form content in here -->
                {% for x in y do z %}

                {% end for %}
            </div>

        </form>
    </div>

    <!-- Maybe move buttons into base.html header, if !user.is_authenticated then display -->
    <div class="LoginOrSignup">
        <button class="AccountButtons" onclick="logIn()">Log In</button><br>
        <button class="AccountButtons" onclick="signUp()">Sign Up</button>
    </div>
{% endblock %}