<div class="modal fade" id="BandRequestModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Join </h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <form method="post" id="BandRequestForm" action="{% url 'bandsnap:join_request' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="band_username" value="">
                <button type="submit">Submit Request</button>
            </form>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
        </div>
  
      </div>
    </div>
</div>