{% extends 'bandsnap/base.html' %}
{% load static %}

{% block title_block %}
    Restricted Page
{% endblock %}

{% block extra_css %}
    <style>
        .container {
            padding: 20px;
        }

        .heading {
            color: #333;
            font-size: 24px;
            margin-bottom: 20px;
        }

        .content {
            margin-top: 20px;
        }
    </style>
{% endblock %}

{% block body_block %}
    <div class="container">
        <h1 class="heading">Restricted Page</h1>
        <p>You are logged in!</p>
        <p class="content"> "Welcome, {{ user.username }}! We're glad to see you again on bandsnap."</p>
        <!-- Add more content or customize as needed -->
    </div>
{% endblock %}