{% extends 'bandsnap/base.html' %}
{% load static %}
{% block title_block %}
Search
{% endblock %}
{% block body_block %}
    <div class="container p-5 my-5 border">
        here is the search page. <br />
        <div class="d-flex">
            <input id="searchInput" class="form-control" type="text" placeholder="Search" oninput="search()">
            <button class="btn btn-primary" type="button">Search</button>
        </div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-fill mb-5">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#artists">Artists</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#bands">Bands</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#gigs">Gigs</a>
        </li>
        </ul>
    
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane container fade active show" id="artists">
                <div id="searchResultsArtist"></div>
            </div>
            <div class="tab-pane container fade" id="bands">
                <div id="searchResultsBand"></div>
            </div>
            <div class="tab-pane container fade" id="gigs">
                <div id="searchResultsGig"></div>
            </div>
        </div>
    </div>

    
    <script src="{% static "search.js" %}"></script>
{% endblock  %}