{% extends 'bandsnap/base.html' %}
{% load static %}

    {% block title_block %}
        Search
    {% endblock %}


    
    {% block body_block %}
        <div class="SmallHeader">
        
        </div>
        
        <div class="SearchAndDisplay">
            <div class="SearchBar">
                <!-- Potentially replace with external form?-->

                <input type="text" size="50" placeholder="Enter a query..." name="query" id="query" />
                <button type="submit" name="submit">Search!</button>
            </div>
            
            <div class="DisplayHeading">
                <p onclick=showArtist(artist) id="SearchOptions">Artists</p>
                <p onclick=showBand(band) id="SearchOptions">Bands</p>
                <p onclick=showGig(gig) id="SearchOptions">Gigs</p>
            </div>
            
            {% for artist in Artists%}
            <div class="DisplayArtist">
            
                <div class="DisplayProfile">
                    <div class="UserProfile">
                        <img src={artist.picture} alt="User Picture"> </img>
                    </div>
                
                    <div class="NameAndAbout">
                        <p>{artist.user.first_name} {artist.user.last_name}</p>
                        <p>{artist.description}</p>
                    </div>
                    
                    <div class="ProfileSkills">
                        <p>Skills</p>
                        <ul>
                            {% for skill in artist.skills%}
                                <li>skill</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}

            {% for band in Bands%}
            <div class="DisplayBands">
            
                <div class="DisplayProfile">
                    <div class="UserProfile">
                        <img src={band.photo} alt="Band Picture"> </img>
                    </div>
                
                    <div class="NameAndAbout">
                        <p>{band.name}</p> <!-- Band model doesn't have a name? -->
                        <p>{band.description}</p>
                    </div>
                    
                    <div class="BandMembers">
                        <p>Members</p>
                        <ul>
                            {% for member in band.artists%}
                                <li>{member.user.first_name} {member.user.last_name}</li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="BandSkills">
                        <p>Skills</p>
                        <ul>
                            {% for skill in band.needs_skills%}
                                <li>{skill}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}

            {% for gig in Gigs%}
            <div class="DisplayGigs">
                <div>
                    <p>{gig.name}</p>
                    <p>{gig.band}</p>
                </div>

                <div>
                    <p>{gig.venue_address}</p>
                    <p>{gig.date}</p>
                </div>

                <div>
                    <p>{gig.description}</p>
                </div>

            </div>
            {% endfor %}

        </div>	
    {% endblock  %}