{% extends 'bandsnap/base.html' %}
{% load static %}

{% block title_block %}
    Signup
{% endblock %}

{% block body_block %}
    <h1>BandSnap Signup</h1>
    {% if registered %}

        <a href="{% url 'bandsnap:user_profile' %}">You've already signed up, click here to go to your profile</a>

    {% else %}

        <div class="row">
                
            <!-- Add Javascript onclick events to Band and Artist images -->
            <div class="UserChoice">
                <h2>What are you?</h2>
                
                <div class="Band">
                    <h2>Band</h2>
                    <img src="Band.png" alt="Band Image"> </src>
                    
                    <p class="SignupText">I want to find great talent with ease!</p>
                    <p class="SignupText">Manage your artists!</p>
                </div>
                
                <div class="Artist">
                    <h2>Artist</h2>
                    <img src="Artist.png" alt="Artist Image"> </src>
                    
                    <p class="SignupText">I want to find a band I can shred with!</p>
                    <p class="SignupText">Show off your skills to the world!</p>
                </div>
                
            </div>
            
            <div class="UserSignUp">
            
                <form class="SignUpForm">
                    <!-- External form -->

                    <label class="SignUpLabel" for="Username">Username:</label>
                    <input class="SignUpInput" type="text" id="Username" name="Username"><br>
                    <label class="SignUpLabel" for="Username">Password:</label>
                    <input class="SignUpInput" type="text" id="Password" name="Password"><br>
                    <label class="SignUpLabel" for="Username">Confirm Password:</label>
                    <input class="SignUpInput" type="text" id="ConfirmPassword" name="ConfirmPassword"><br>
                    <label class="SignUpLabel" for="AboutUser">About You (Optional):</label>
                    <textarea class="SignUpInput" id="AboutUser" name="AboutUser" placeholder="Tell the world about yourself (max 1000 characters)..." style="height:200px"></textarea>
                    
                    <div class="row">
                        <input class="SignUpButton" type="submit" value="Sign Up">
                    </div>
                    
                </form>
            
            </div>
        </div>

    {% endif %}
{% endblock %}