{% extends 'bandsnap/base.html' %}
{% load static %}

{% block title_block %}
    Signup
{% endblock %}

{% block body_block %}
    <h1>BandSnap Signup</h1>
    {% if registered %}

        <a href="{% url 'bandsnap:user_profile' %}">You've already signed up, click here to go to your profile</a>

    {% else %}

        <div class="row">
                
            <!-- Add Javascript onclick events to Band and Artist images -->
            <div class="UserChoice">
                <h2>What are you?</h2>
                
                <div onclick=chooseUserType(band) class="Band">
                    <h2>Band</h2>
                    <img src="{% static 'images/Band.png' %}" alt="Band Image"> </src>
                    
                    <p class="SignupText">I want to find great talent with ease!</p>
                    <p class="SignupText">Manage your artists!</p>
                </div>
                
                <div onclick=chooseUserType(artist) class="Artist">
                    <h2>Artist</h2>
                    <img  src="{% static 'images/Artist.png' %}" alt="Artist Image"> </src>
                    
                    <p class="SignupText">I want to find a band I can shred with!</p>
                    <p class="SignupText">Show off your skills to the world!</p>
                </div>
                
            </div>
            
            <div class="UserSignUp">
            
                <form class="SignUpForm" method="post" action="{% url 'bandsnap:signup' %}">

                    {% csrf_token %}

                    {{ user_form.as_p }}
                    {{ profile_form.as_p }}
                    
                    <div class="row">
                        <input class="SignUpButton" type="submit" value="Sign Up">
                    </div>
                    
                </form>
            
            </div>
        </div>

    {% endif %}
{% endblock %}