<!DOCTYPE html>
<html>
<head>
    <title>User Profile</title>
</head>
<body>
    <div class="row">
        <div class="UsersProfile">
            <h2>Your Profile</h2>

            <div class="UserInfo">
                <div class="UserRow">
                    <p class="UserText">Username:</p>
                    <p class="UserData">{{ user.username }}</p>
                </div>
                <div class="UserRow">
                    <p class="UserText">Profile Photo:</p>
                    <p class="UserData">{{ profile.profile_photo }}</p>
                </div>
                <div class="UserRow">
                    <p class="UserText">Description:</p>
                    <p class="UserData">{{ profile.description }}</p>
                </div>
                <div class="UserRow">
                    <p class="UserText">Skills:</p>
                    <ul class="UserData">
                        {% for skill in profile.skills.all %}
                            <li>{{ skill.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="UsersRequests">
            <h2>Your Requests</h2>
            <div class="DisplayRequests">
                <div class="BandInfo">
                    <p class="BoldBandInfo">Band Name</p>
                    <p>Request Date</p>
                    <p>Status: </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>